{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'base_search.js' %}"></script>

    {% block title %}
        <title>Start Page</title>
    {% endblock %}
</head>

<body style="padding-top: 60px; padding-bottom: 60px;">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Название компании и кнопка, которая отображается для мобильных устройств группируются для лучшего отображения при свертывании -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home_page" %}">Teхнотрек</a>
        </div>

        <!-- Группируем ссылки, формы, выпадающее меню и прочие элементы -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href=" {% url "posts:blogs" %} ">Список блогов</a></li>
                <li><a href=" {% url "posts:posts" %} ">Список постов</a></li>
                <li><a href=" {% url 'posts:add_blog' %} ">Добавить блог</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сортировка<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Время</a></li>
                        <li><a href="#">Заголовок</a></li>
                        <li><a href="#">Автор</a></li>
                    </ul>
                </li>
            </ul>
        <div >{% crispy search_form %}</div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_anonymous %}
                    <li>
                        <a href=" {% url "core:login" %} ">Войти</a>
                    </li>
                    <li>
                        <a href=" {% url "core:register" %} ">Зарегистрироваться</a>
                    </li>
                {% else %}
                    <li>
                        <a class="navbar-brand">{{ user.username }}</a>
                    </li>
                    <li>
                        <a href=" {% url "core:logout" %} ">Выйти</a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block content %}
        SAMPLE TEXT
    {% endblock %}
</div>

</body>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet">
{#    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'EasyAutocomplete-1.3.5/easy-autocomplete.min.css' %}">
    <script>
        var get_blogs = JSON.parse("{{ get_blogs|escapejs }}");
    </script>

</html>