{% extends "core/base.html" %}

{% block content %}
    <div class="row">
    <div class="col-md-10 col-md-offset-1 well">

        <h1 class="page-header">
            {{ object.title }}
        </h1>

        <!-- Blog -->
        <p><span class="glyphicon glyphicon-user" id="start"></span> <label id="started">By</label> 
            <a href="{% url "posts:blogs" %}?user={{ object.author }}" id="startedby">{{ object.author }}</a> |
            <span class="glyphicon glyphicon-time" id="comment"></span> {{ object.time }} |
            <span class="glyphicon glyphicon-th-large" id="visit"></span>
            {% if object.category_set.all %}
                {% for category in object.category_set.all %}
                    {{ category.title }}
                {% endfor %}
            {% else %}
                Без категорий
            {% endif %}|
            {% if object.like_set.all %}
                {{ object.like_set.count }}
                {% if user.liked_blogs.all and object.like_set.all %}
                    <span class="glyphicon glyphicon-heart" id="visit"></span>
                {% endif %}
            {% else %}
                <span class="glyphicon glyphicon-heart-empty" id="visit"></span>
            {% endif %}
            {% if blog.author == user %}
                            <span class="glyphicon glyphicon-pencil" id="comment"></span>
                            <a class="edit-blog-ref" href=" {% url "posts:edit_blog" pk=blog.id %}" data-toggle="modal"
                               data-target="#myModal" data-blogid="{{ blog.id }}"
                               data-url="{% url "posts:edit_blog" pk=blog.id %}">Редактировать</a> |

                            <div class="modal fade edit-blog" id="myModal" tabindex="-1" role="dialog"
                                 data-url="{% url "posts:edit_blog" pk=blog.id %}">

                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Редактирование</h4>
                                        </div>
                                        <div class="modal-body edit-blog">

                                        </div>
                                        <div class="modal-footer">
{#                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть#}
{#                                            </button>#}
{#                                            <button type="button" class="btn btn-primary" data-dismiss="modal">#}
{#                                                Сохранить#}
{#                                            </button>#}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endif %}

        </p>
        <hr>
        {% if object.pic.url != Null %}
            <a href="#" class="thumbnail"><img src="{{ object.pic.url }}" alt="img"></a>
        {% else %}
            <a href="#" class="thumbnail"><img src="http://placehold.it/900x300" alt=""></a>
        {% endif %}

        <article><p>{{ object.description }}</p></article>
        <a class="btn btn-primary" href="{% url "posts:add_post" pk=blog.id %}">Добавить пост</a>
        </br>

    </div>
    </div>

    <h2 align="center">Посты</h2>



    {% if object.post_set.all %}

        {% for post in object.post_set.all %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1 well">
                    <h2>
                        <a href="{% url "posts:post" pk=post.id %}"><div>{{ post.title }}</div></a>
                    </h2>

                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.time }} |
                        {% if object.author == user %}
                            <span class="glyphicon glyphicon-pencil" id="comment"></span>
                            <a href=" {% url 'posts:edit_post' pk=post.id %}">Редактировать пост</a> </p>
                        {% endif %}

                    <article>{{ post.text }}</article>
                    </br>
                    <a href="{% url 'posts:add_comment' pk=post.id %} " class="btn btn-primary add-comment">Добавить комментарий</a>

                </div>
            <div class="col-md-10 col-md-offset-1 comments-div" data-url="{% url "posts:post_comments" pk=post.id %}">
{#                {% include "posts/comments.html" %}#}
            </div>
            </div>

        {% endfor %}
    {% else %}
        <div><b>Nothing in posts</b></div>
    {% endif %}

{% endblock %}

