{% extends "core/base.html" %}
{% block content %}
    {% for post in object_list %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1 well">

                <h2>
                    <div>{{ post.title }}</div>
                </h2>

                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.time }} |
                    <span class="glyphicon glyphicon-user"></span> By {{ post.author }} |
                    {% if post.author == user %}
                        <span class="glyphicon glyphicon-pencil" id="comment"></span>
                        <a href=" {% url 'posts:edit_post' pk=post.id %}">Редактировать пост</a> </p>
                    {% endif %}

                <article><p>
                    {{ post.text }}
                </p></article>
                <a class="btn btn-primary" href="{% url "posts:post_comments" pk=post.id %}">Комментарии<span
                        class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>


            </div>
        </div>
    {% endfor %}
    <!-- /.row -->>



{% endblock %}
