{% extends "core/base.html" %}
{% block content %}
    <a href=" {% url 'posts:add_comment' pk=post.id %}  " class="btn btn-primary">Add comment</a>
    <p><b>All comments in the post:</b></p>
    {% if post.comment_set.all %}
        {% for comm in post.comment_set.all %}
            <div class="panel panel-primary">
                <div class="panel-body">
                    <b>Author:</b> {{ comm.author }}
                    <p>Time: {{ comm.time }}</p>
                </div>
                <div class="panel-footer">{{ comm.body }}</div>
            </div>
        {% endfor %}
    {% else %}
    <div><b>Nothing in comments</b></div>
    {% endif %}

{% endblock %}

