{% extends "core/base.html" %}
{% block content %}
    <div>
        <form method="get" action="{% url "posts:posts" %}">
            {{ sortform.sort }}{{ sortform.search }}{{ sortform.search.errors }}
            <input type="submit">
        </form>
    </div>
    {% for post in object_list %}
            <div class="card" style="width: 20rem;">
                <div class="card-block"><h4 class="card-title">Post #{{ post.id }}</h4>
                    <p>Post's author: {{ post.author }}</p>
                    <p>Time: {{ post.time }}</p>
                    <p class="card-text">Text: {{ post.text }}</p>
                    {% if post.author == user.username %}
                    <a href=" {% url 'posts:edit_post' pk=post.id %}  " class="btn btn-primary">Edit post</a>
                    {% endif %}
                    <a href=" {% url "posts:post_comments" pk=post.id %}  " class="btn btn-primary">Go to comments</a>
                </div>
            </div>
    {% endfor %}
{% endblock %}
